/structured_simulation.egg-info/
./.idea/
.vscode/
__pycache__/
structured_simulation.egg-info
*.xml

cmake*
/.idea/.name
/.idea/modules.xml
/.idea/vcs.xml
/misc.xml
/CMB_structured_product_simulation.iml
/.idea/CMB_structured_product_simulation.iml
/.idea/misc.xml
/cpp_source/build/
/Release/
cpp_source/build/*
